body {
  margin: 40px auto;
  padding: 0 2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./wepik-2022123-221119.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.item {
  padding: 1rem 0;
  color: black;
  margin-bottom: 2rem;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  font-weight: bold;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.total {
  min-height: 5rem;
  padding: 1rem;
  text-align: center;
  line-height: 2.5rem;
  font-weight: bold;
  border-radius: 20px;
  background-color: rgba(8, 66, 152, 0.8);
}

.h2-color {
  font-weight: bold;
  color: rgb(255, 255, 255);
}

@media screen and (min-width: 1200px) {
  body {
    max-width: 1200px;
    margin: 40 autopx;
  }

  .item {
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
    padding: 0 1rem;
  }
}
